# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\yidin\OneDrive\01_Life\Udacity_SelfDrivingCarTerm2\03_C++_Checkpoints\08_Challenge4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
